<!-- Player -->
<div class="player-container">
  <div class="main-controls">
    <div class="previous">
      <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>  
    </div>
    <div class="play">
      <div class="icon-wrapper">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>  
      </div>
    </div>
    <div class="next">
      <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>  
    </div>
  </div>

  <div class="progress-bar-wrapper">
    <div class="current-progress"><p>12:12</p></div>

    <div class="progress-bar-background">
      <div class="bar-hover">
          <div class="progress-bar-on-hover">
            <div class="progress-bar-loaded">
              <div class="progress-bar-change">
                <div class="progress-bar-on">
                  <div class="pointer"></div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    

    <div class="max-progress"><p>32.56</p></div>
  </div>
  <div class="other-controls">
    
  </div>

<!-- <div class="player">
  <ul class="list-group boo">
    <li class="list-group-item play-item">

      Ausio progress bar
      <div class="track-progress" ng-click="setTrackTime($event)">
        <span class="loaded" style="width:{{100 * audio.loaded | number: 3}}%"></span>
        <span class="current-time" style="width:{{100 * progress | number: 3}}%" ></span>
        <div class="loaded"></div>
      </div>
    
                  <span class="track-time">
                <span class="badge">{{audio.volume | number:1}}</span>
                <span class="badge pull-right">{{duration | number:0}}s</span>
                <span class="badge pull-left">{{currentTime | number:0}}s</span>
              </span>

      <div class="controls">

            <div class="control-btn-wrapper-backward" ng-click="back()">
                <span class="glyphicon glyphicon-backward control-btn backward" aria-hidden="true"></span>
            </div>
            <div class="msg">
                <div class="alert alert-warning" role="alert">
                    Select a track
                </div>
            </div>
            <div class="control-btn-wrapper-play" ng-click="play()" ng-hide="playing">
                <span class="glyphicon glyphicon-play control-btn play" aria-hidden="true"></span>
            </div>
            <div class="control-btn-wrapper-pause" ng-click="pause()" ng-show="playing">
                <span class="glyphicon glyphicon-pause control-btn pause" aria-hidden="true"></span>
            </div>
            <div class="control-btn-wrapper-forward" ng-click="next()">
                <span class="glyphicon glyphicon-forward control-btn forward" aria-hidden="true"></span>
            </div>
              



            <div class="track-info">
                <span class="title">
                    {{name}}
                </span>
            </div>

            colume controls
            <div class="wrapper-vol-control">
                <div class="wrapper-vol-icon">
                    <span class="glyphicon glyphicon-volume-off control-btn vol-icon" aria-hidden="true" ng-show="vol.mute"></span>
                    <span class="glyphicon glyphicon-volume-down control-btn vol-icon" aria-hidden="true" ng-show="vol.low"></span>
               <span class="glyphicon glyphicon-volume-up control-btn vol-icon" aria-hidden="true" ng-show="vol.high"></span>
                </div>
                  <div class="wrapper-vol-bar opac-0">
                    <div class="volume-bar"></div>
                    <div class="volume-bar-vol" style="width:{{100 * vol.vol | number: 3}}%"></div>
                </div>
            </div>

        </div>

        show the player
        <div class="show-player-btn" ng-click="toggleVisibility()">
            <span class="glyphicon glyphicon-arrow-up btn-sm backward" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-down btn-sm backward hidden" aria-hidden="true"></span>
        </div>

</div> -->
      <!-- <button type="button" class="btn btn-default btn-sm pull-right">↓</button> -->
</div>

